<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="index.css">

</head>
<body>
	<div class="limiter">
		<div class="container" style="background-image: url('back.jpg');">
			<div class="wrap">
					<span class="form-title ">
						CHRONIC KIDNEY DISEASE PREDICTION
					</span>
					<hr>
					<span>
						<div class="container-login-form-btn">
							<button class="login-form-btn" onclick="document.location='index.html'">
								Predict
							</button>
						<div>
					</span>
				</div>
			</div>
		</div>
</body>
</html>
