<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class = "limiter">
            <div class="container" style="background-image: url('back.jpg');">
                <div class="wrap">
                        <span>
                            <div class="container-login-form-btn">
                            <button class="login-form-btn" onclick="document.location='/'">
                                Home
                            </button>
                            <div>
                        </span>
                        <h2 align="center">CHRONIC KIDNEY DISEASE PREDICTION RESULT</h2>
                        <hr>
                        <div  style="font-weight: bold; font-size:20px; color:black;">
                        <br>
                        <p align="center"><span style="font-weight: bold; color:rgb(237, 228, 228);">{{ your_name }}</span>, your diagnosis for Chronic Kidney Disease is
                        <span style="font-weight: bold; color:rgb(245, 238, 238);">{{ prediction_text }}</span></P>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>