<!DOCTYPE html>
<html>
<head>
	<title>CKD Diagnosis</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="index.css">

</head>

<body>

	<div class="limiter">
		<div class="container" style="background-image: url('back.jpg');">
			<div class="wrap">
				<form method='POST' /*action= "{{url_for('predict')}}"*/ action = '/predict' class="container">
					<span class="form-title ">
						Data Entry
					</span>

					<span>

					<label for="name" ><b>Name</b></label>
    					<input type="text" placeholder="Enter your name" name="name" id="name" required>

    				<label for="sg" ><b>Specifc Gravity</b></label>
    					<input type="text" placeholder="Enter Specifc Gravity Value" name="sg" id="sg" required>

					<label for="htn"><b>Hypertension</b></label>
    					<select name="htn" id="htn">
        					<option value="Yes">Yes</option>
        					<option value="No">No</option>
    					</select>

					<label for="hemo"><b>Hemoglobin</b></label>
    					<input type="text" placeholder="Enter Hemoglobin Value" name="hemo" id="hemo" required>

					<label for="dm"><b>Diabetes Mellitus</b></label>
    					<select name="dm" id="dm">
        					<option value="Yes">Yes</option>
        					<option value="No">No</option>
    					</select>

					<label for="al"><b>Albumin</b></label>
    					<input type="text" placeholder="Enter Albumin Value" name="al" id="al" required>

					<label for="appet"><b>Appetite</b></label>
    					<select name="appet" id="appet">
        					<option value="Good">Good</option>
        					<option value="Poor">Poor</option>
    					</select>

					<label for="rc"><b>Red Blood Cell Count</b></label>
    					<input type="text" placeholder="Enter Red Blood Cell Count" name="rc" id="rc" required>

					<label for="pe"><b>Pedal Edema</b></label>
    					<select name="pe" id="pe">
        					<option value="Yes">Yes</option>
        					<option value="No">No</option>
    					</select>
					</span>

					<hr>
					<div class="container-login-form-btn">
						<button class="login-form-btn" type="submit">
							Predict
						</button>
					</div>

					{{prediction_text}}

				</form>
			</div>
		</div>
	</div>


</body>
</html>
